.hero {
    height: 90vh;
    background: url('../img/patagonia1.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.gallery-img {
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.card img {
    height: 200px;
    object-fit: cover;
}

footer {
    background: #111;
    color: #ccc;
    padding: 40px 0;
}

@media (width: 400px) {
.hero {
height: auto;
}
}